.last-rating
  &__inner
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 25px 30px
  &__arrows
    display: none
  &__prev
    left: 0
    margin-top: 0
    transform: translateY(-50%)
  &__next
    right: 0
    margin-top: 0
    transform: translateY(-50%)
  &__card
    &:first-child
      grid-row: 1/5
      grid-column: 1/2
      & .content__image
        width: 100%
        height: 250px
        margin-bottom: 25px
    &:not(:first-child)
      & .content
        display: grid
        grid-template-columns: 120px 1fr
        grid-column-gap: 12px
        &__label
          display: none
        &__title
          font-weight: 400
          margin-bottom: 0
        &__subtitle
          display: none
    & .content
      padding: 0
      &__label
        z-index: 2
      &__date
        margin-bottom: 8px
      &__title
        margin-bottom: 8px
@media screen and ( max-width: 768px )
  .last-rating
    &__card
      &:first-child
        & .content
          &__title
            font-size: 20px
          &__image
            height: 200px
      &:not(:first-child)
        & .content
          grid-template-columns: 90px 1fr
          &__title
            font-size: 18px
@media screen and ( max-width: 580px )
  .last-rating
    display: grid
    grid-template-columns: 1fr 100px
    grid-template-areas: 'title arrows''slider slider'
    column-gap: 10px
    &__arrows
      display: block
      grid-area: arrows
      position: relative
      min-height: 40px
    &__title
      grid-area: title
    &__slider
      width: 100%
      grid-area: slider
    &__inner
      display: flex
      grid-gap: 0
    &__card
      &:first-child
        grid-column: 1/-1
      &:not(:first-child)
        & .content
          grid-template-columns: 100%
          &__image
            min-height: 150px
            margin-bottom: 20px
          &__title
            font-weight: 600
            margin-bottom: 8px
          &__subtitle
            display: block
