.region-rating
  &__inner
    display: grid
    grid-template-columns: 1fr max-content max-content
    grid-template-areas: 'title sort region''content content content'
    column-gap: 10px
  &__title
    grid-area: title
  &__select
    min-width: 200px
    &#sort
      grid-area: sort
    &#region
      grid-area: region
  &__content
    grid-area: content
    & .region-content
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: 30px
      &__about
        & .content
          padding: 0
          &__image
            z-index: 0
            margin-bottom: 25px
            & img,
            & source
              height: 300px
          &__date
            margin-bottom: 8px
          &__title
            margin-bottom: 8px
            font-size: 18px
            font-weight: 600
          &__subtitle
            margin-bottom: 8px
      & .region-table
        &__head,
        &__list li
          display: grid
          grid-template-columns: 70px 1fr 100px
          grid-column-gap: 10px
          align-items: center
        &__head
          justify-items: center
          border-bottom: 1px solid $light
        &__th
          padding: 4px 0
        &__list
          & li
            padding: 20px 0 12px
            border-bottom: 1px solid $light
            list-style: none
        &__position
          display: flex
          justify-content: center
        &__person
          display: grid
          grid-template-columns: 90px 1fr
          align-items: center
          grid-column-gap: 12px
        &__photo
          height: 70px
          display: block
          background: $light
          & img,
          & source
            width: 100%
            height: 100%
            object-fit: cover
            pointer-events: none
        &__name
          font-weight: 600
          margin-bottom: 8px
@media screen and ( max-width: 1200px )
  .region-rating
    &__content
      & .region-content
        & .region-table
          &__head,
          &__list li
            display: grid
            grid-template-columns: 50px 1fr 150px
@media screen and ( max-width: 1000px )
  .region-rating
    &__content
      & .region-content
        grid-template-columns: .4fr .6fr

@media screen and ( max-width: 800px )
  .region-rating
    &__content
      & .region-content
        grid-template-columns: 100%
        grid-row-gap: 30px
@media screen and ( max-width: 768px )
  .region-rating
    &__inner
      grid-template-columns: 100%
      grid-template-areas: 'title''sort' 'region''content'
      grid-row-gap: 20px
    &__select
      width: 100%
      & .custom-select
        &__output
          width: 100%
        &__list
          width: 100%
      & .default-select
        width: 100%
@media screen and ( max-width: 580px )
  .region-rating
    &__content
      & .region-content
        & .region-table
          &__head,
          &__list li
            grid-template-columns: 50px 1fr
          &__th:nth-child(3),
          &__label
            display: none
@media screen and ( max-width: 480px )
  .region-rating
    &__content
      & .region-content
        & .region-table
          &__head,
          &__list li
            grid-template-columns: 40px 1fr
          &__th:nth-child(3),
          &__label
            display: none
