$dark: #333333
$middle: #C4C4C4
$light: #DFDFDF

.t1, h1
  font-weight: 600
  font-size: 36px
.t2, h2
  font-weight: 600
  font-size: 24px
.t3, h3
  font-weight: 400
  font-size: 18px
.small
  font-size: 14px
.btn
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  transition: .2s
  font-weight: 400
  font-size: 18px
  width: 270px
  height: 40px
  border-radius: 0px
  background: $light
  border: 1px solid $light
  color: $dark
  &:hover,
  &:active
    background: $dark
    color: $light
    border-color: $light
    transition: .2s
  &--dark
    background: $dark
    border-color: $dark
    color: $light
    &:hover,
    &:active
      background: $light
      border-color: $dark
      color: $dark
.container
  max-width: 1170px + (2 * 15px)
  padding: 0 15px
  margin: 0 auto
.clearfix::after
  content: ''
  display: block
  clear: both
.scrollOff
  overflow-y: hidden
.bg
  background-position: center
  background-size: cover
  background-repeat: no-repeat
.delete-btn-style
  background: transparent
  border: none
  border-radius: 0
.pt
  padding-top: 80px

.decor-line
  position: relative
  padding-top: 30px
  margin-top: 12px
  &::before
    content: ''
    display: block
    width: 100%
    height: 1px
    position: absolute
    top: 0
    left: 0
    background: $middle
  &::after
    content: ''
    display: block
    width: 140px
    height: 1px
    position: absolute
    top: 0
    left: 0
    background: $dark
@media screen and ( max-width: 580px )
  .t1, h1
    font-size: 32px
